@use "@angular/material" as mat;

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--tt-layout-vertical-gap);

  min-width: 45rem;
  padding-bottom: var(--tt-layout-vertical-gap);
}

.layout-header {
  position: sticky;
  top: 0;
  z-index: 1000;

  background-color: var(--mat-sys-surface-container-lowest);
  border-bottom: 1px solid var(--mat-sys-outline-variant);

  .layout-header-content {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 var(--tt-layout-horizontal-padding);
  }

  .progress-bar {
    width: 100%;

    @include mat.progress-bar-overrides(
      (
        active-indicator-height: 2px,
        track-height: 2px,
      )
    );
  }
}

.layout-body {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 var(--tt-layout-horizontal-padding);
}
