:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--tt-layout-vertical-gap);

  min-width: 45rem;
  padding-bottom: var(--tt-layout-vertical-gap);
}

.layout-header {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  padding: 0 var(--tt-layout-horizontal-padding);

  background-color: var(--mat-sys-surface-container-lowest);
  border-bottom: 1px solid var(--mat-sys-outline-variant);
}

.layout-body {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 var(--tt-layout-horizontal-padding);
}
