@use "@angular/material" as mat;
@use "styles/index";

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light dark;

  background-color: var(--tt-layout-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
}

:root {
  @include mat.theme-overrides(
    (
      primary: var(--tt-mat-sys-primary),
    )
  );
}
