@use "@angular/material" as mat;
@use "styles/index";

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light dark;

  background-color: var(--tt-layout-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
}

:root {
  @include mat.theme-overrides(
    (
      primary: var(--tt-mat-sys-primary),
    )
  );

  .popup-message-info {
    @include mat.snack-bar-overrides(
      (
        container-color: color-mix(in srgb, purple 90%, transparent),
        supporting-text-color: var(--mat-sys-on-primary),
      )
    );
  }

  .popup-message-error {
    @include mat.snack-bar-overrides(
      (
        container-color: color-mix(in srgb, var(--mat-sys-error) 90%, transparent),
        supporting-text-color: var(--mat-sys-on-error),
      )
    );
  }

  @include mat.dialog-overrides(
    (
      container-shape: var(--mat-sys-corner-small),
      headline-padding: 0.5rem 1.5rem 0.5rem,
      supporting-text-color: var(--tt-text-color),
      subhead-line-height: 1.3rem,
      subhead-size: 1.3rem,
      subhead-weight: 500,
    )
  );

  .tt-textarea-field-auto-grow {
    .mat-mdc-form-field-flex,
    .mat-mdc-form-field-infix {
      height: 100%;

      textarea {
        height: 100%;
        overflow: hidden;
        resize: none;
      }
    }
  }
}
